table{
    width: 100%;
}
td{
    border: solid 1px #333;
    padding: 10px;
    font-size: 30px;
    color: white;
    border-radius: 10px;
}
th{
    font-size: 50px;
    padding: 10px;
    color: white;
    text-shadow: 2px 1px 1px #333;
    border: solid 1px #333;
    border-radius: 10px;
}